pkgbase = kile-git
	pkgdesc = A user friendly TeX/LaTeX frontend for KDE
	pkgver = 3.0b2_r3593.gee9d5fc9
	pkgrel = 1
	url = https://apps.kde.org/kile/
	arch = x86_64
	license = GPL-2.0-only
	makedepends = git
	makedepends = extra-cmake-modules
	makedepends = kdoctools
	makedepends = okular
	depends = gcc-libs
	depends = glibc
	depends = kcodecs
	depends = kcompletion
	depends = kconfig
	depends = kconfigwidgets
	depends = kcoreaddons
	depends = kcrash
	depends = kdbusaddons
	depends = kguiaddons
	depends = ki18n
	depends = kiconthemes
	depends = kio
	depends = kjobwidgets
	depends = kparts
	depends = kservice
	depends = ktexteditor
	depends = ktextwidgets
	depends = kwidgetsaddons
	depends = kwindowsystem
	depends = kxmlgui
	depends = okular
	depends = kcolorscheme
	depends = hicolor-icon-theme
	depends = perl
	depends = poppler-qt6
	depends = qt6-base
	depends = qt6-5compat
	depends = qt6-declarative
	depends = texlive-basic
	optdepends = konsole: embedded terminal
	optdepends = imagemagick: for some file type conversions
	provides = kile
	conflicts = kile
	source = git+https://github.com/KDE/kile.git
	sha256sums = SKIP

pkgname = kile-git
